.myBtn {
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #da79d6;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    outline: 1px solid #da79d6;
}
.myBtn:hover {
    background-color: #fff;
    color: #da79d6;
}
.myBtn:active {
    transform: scale(0.9);
}